@use '../../../utils/mixins' as mix;
@use '../../../utils/variables' as vars;
@use '../../../utils/functions' as fn;
@use '../../font-style' as font;

.transformer {
  padding: fn.cmin(50,80) 0;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (min-width: vars.$min-lg) {
      position: absolute;

      &_1 {
        top: 15%;
        left: 0%;
        max-width: 624px;
        @media (max-width: vars.$xl) {
          max-width: 523px;
        }
      }

      &_2 {
        right: 0%;
        bottom: 10%;
        max-width: 523px;
      }
    }
  }

  &__desc {
    @include font.t3;
    @media (max-width: vars.$md) {
      @include font.t2-mobile;
    }
  }

  &__icon {
    @media (max-width: vars.$lg) {
      display: none;
    }

    &-unit {
      margin: 0 auto;
      @media (min-width: vars.$min-lg) {
        display: none;
      }
    }
  }
}
