mixin hero 
  section.hero
    picture.hero__bg
      source(media="(max-width: 991.98px)" srcset="@/assets/img/promo/wcc/hero/hero-bg-mobile.svg")
      img.hero__bg-img(src="@/assets/img/promo/wcc/hero/hero-bg.svg" alt="")
    picture.hero__tablets
      source(media="(max-width: 991.98px)" srcset="@/assets/img/promo/wcc/hero/hero-tablets-mobile.svg")
      img.hero__tablets-img(src="@/assets/img/promo/wcc/hero/hero-tablets.svg" alt="") 