extends ../layouts/main

block vars
  - const title = 'SDPP ';
  - const pageName = 'promo-sdpp-page';
  - const scriptName = 'promo-sdpp';

block content
  include ../partials/promo/sticky-nav
  include ../partials/promo/sticky-link
  include ../components/promo/quiz
  include ../components/promo/sdpp/hero
  include ../components/promo/sdpp/turbine
  include ../components/promo/sdpp/electrogenerator
  include ../components/promo/sdpp/transformer
  include ../components/promo/sdpp/scheme

  

  +sticky-nav('sdpp')
  +hero
  +quiz({question: 'Что вращает турбину?', answer: 'Турбину вращает пар, который образовался в паровом котле.', list: 
    [
      {option: 'Пар', isCorrect: true },
      {option: 'Высокая температура', isCorrect: false },
      {option: 'Вода', isCorrect: false },
    ]})
  #hidden-content
    +turbine
    +electrogenerator
    +transformer
    +scheme
    +sticky-link('sdpp')
    


