extends ../layouts/main

block vars
  - const title = 'WCC ';
  - const pageName = 'promo-wcc-page';
  - const scriptName = 'promo-wcc';

block content
  include ../partials/promo/sticky-nav
  include ../components/promo/quiz
  include ../components/promo/wcc/hero
  include ../components/promo/wcc/wind
  include ../components/promo/wcc/gondola
  include ../components/promo/wcc/about

  

  +sticky-nav('wcc')
  +hero
  +wind
  +quiz({question: 'Почему у ротора три лопасти?', answer: 'Турбину вращает пар, который образовался в паровом котле.', list: 
    [
      {option: 'Так красивее', isCorrect: false },
      {option: 'Таков стандарт', isCorrect: true },
      {option: 'Число три счастливое', isCorrect: false },
    ]})
  #hidden-content
    +gondola
    +about

