extends ../layouts/main

block vars
  - const title = 'Промо';
  - const pageName = 'promo-main-page';
  - const scriptName = 'promo-main';

block content
  include ../components/promo/main/hero
  include ../components/promo/main/setting
  include ../components/promo/main/about
  include ../components/promo/main/chapters

  +hero
  +setting
  +about
  +chapters

