mixin about 
  section.about
    picture.chapters__item-bg
      source(media="(max-width: 767.98px)" srcset="@/assets/img/promo/main/about/bg-mobile.jpg")
      img.about__bg(src="@/assets/img/promo/main/about/bg.jpg", alt="")
    .container.about__container
      h2.about__title Электростанции ПАО «ЭЛ5&#8209;Энерго» 
      .about__info 
        h3.about__info-title Общая установленная мощность
        ul.about__list
          li.about__item 
            strong.about__item-name 5 940,9 МВт
            span.about__item-desc 
              |электрической 
              br
              |энергии  
          li.about__item 
            strong.about__item-name 1 927 Гкал*ч 
            span.about__item-desc 
              |тепловой 
              br
              |энергии
    img.about__windmill(src="@/assets/img/promo/main/about/windmill.svg", alt="")
