mixin setting
  section.setting
    img.setting__bg(src="@/assets/img/promo/main/setting-bg.svg", alt="")
    .setting__container.container
      .setting__icon-block
        img.setting__icon(src="@/assets/img/promo/main/setting-icon-1.svg", alt="")
      .setting__text-block.setting__text-block_1(data-aos="fade-up")
        strong.setting__num 01
        p.setting__desc Для доставки электрической энергии применяются многочисленные системы. Электроэнергия проходит тысячи километров по проводам и линиям электропередач, распределяется на распределительных подстанциях, трансформируется в трансформаторах, чтобы поступить в наши дома с нужными характеристиками
      .setting__icon-block
        img.setting__icon(src="@/assets/img/promo/main/setting-icon-2.svg", alt="")
      .setting__text-block.setting__text-block_2(data-aos="fade-up")
        strong.setting__num 02
        p.setting__desc Линии электропередач (ЛЭП) предназначены для передачи электроэнергии на большие расстояния. Во избежание потерь напряжения используются промежуточные подстанции с повышающими трансформаторами
      .setting__icon-block
        img.setting__icon(src="@/assets/img/promo/main/setting-icon-3.svg", alt="")
      .setting__text-block.setting__text-block_3(data-aos="fade-up")
        strong.setting__num 03
        p.setting__desc Перед поступлением электричества, полученного на электростанции, в электрическую сеть, оно также обязательно преобразовывается
      .setting__icon-block
        img.setting__icon(src="@/assets/img/promo/main/setting-icon-4.svg", alt="")