mixin sticky-link(type)
  if type === 'sdpp'
    a.sticky-link.sticky-link_sdpp(href="./promo-wcc.html") 
      span Узнать, как работает ВЭС
  else if type === 'wcc'
    a.sticky-link.sticky-link_wcc(href="./promo-sdpp.html") 
      span Узнать, как работает ГРЭС