@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;
@use '../font-style' as font;

& {
  // Colors
  --ligt-green: #8ed760;
  --ligt-blue: #4da4ff;
  --green: #007117;
  --red: #d2233c;
  --black: #000;
  --white: #fff;
  --gray: #999;
  --ligt-gray: #efefef;

  // Container
  --container: 1240px;
  --padding: 15px;

  @media (max-width: vars.$xxl) {
    --container: 1140px;
  }

  @media (max-width: vars.$xl) {
    --container: 950px;
  }

  @media (max-width: vars.$lg) {
    --container: 720px;
  }

  @media (max-width: vars.$md) {
    --container: 530px;
  }

  @media (max-width: vars.$sm) {
    --container: 100%;
  }

  position: relative;
  color: var(--black);
  background: var(--ligt-gray, #efefef);

  @include font.t3;
}

.container {
  width: 100%;
  max-width: calc(var(--container) + (var(--padding) * 2));
  margin: 0 auto;
  padding-right: var(--padding);
  padding-left: var(--padding);
}

.link {
  display: flex;
  gap: 18px;
  align-items: center;
  color: var(--red, #d2233c);
  @include font.t3;

  @media (max-width: vars.$md) {
    @include font.t2-mobile;
  }

  svg {
    width: 6px;
    height: 12px;
  }
}

.swiper {
  &-pagination {
    position: static;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    &-bullet {
      display: block;
      flex-shrink: 0;
      box-sizing: content-box !important;
      width: 5px;
      height: 5px;
      margin: 0 !important;
      padding: 1px;
      background: var(--red, #d2233c);
      border-radius: 7px;
      opacity: 1;
      transition:
        padding 0.5s ease-in-out,
        border-radius 0.5s ease-in-out;

      &-active {
        padding: 0 45px;
      }
    }
  }

  &-button {
    &-prev,
    &-next {
      width: unset !important;
      height: unset !important;
      margin-top: unset;
      padding: fn.cmin(5, 10);
      color: unset !important;
      transform: translateY(-50%);

      &::after {
        content: unset;
      }

      svg {
        width: fn.cmin(10, 16);
        height: fn.cmin(10, 16);
      }
    }

    &-prev {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.slider {
  padding-top: 7px;
  padding-left: 7px;
  @include font.t3;

  @media (max-width: vars.$md) {
    @include font.t2-mobile;

    padding-top: 4px;
    padding-left: 4px;
  }

  .swiper {
    &-pagination {
      position: absolute;
      bottom: 32px;
      z-index: 3;
      transform: translateY(100%);
    }

    &-slide {
      position: relative;
      display: flex;
      height: unset;
      background: var(--white, #fff);

      &::before {
        position: absolute;
        z-index: 5;
        margin: -7px 7px 7px -7px;
        border: 1px solid #525252;
        content: '';
        inset: 0;

        @media (max-width: vars.$md) {
          margin: -4px 4px 4px -4px;
        }
      }
    }
  }
}

.hover {
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:hover,
  &:focus-visible {
    color: #fff;
    background: var(--red);
  }
}

a {
  color: inherit;
}
