@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;
@use '../font-style' as font;

.quiz {
  padding-top: fn.cmin(31, 64);
  padding-bottom: fn.cmin(29, 73);
  background: var(--white, #fff);

  &_selected {
    .quiz {
      &__more {
        display: inline-flex;
      }

      &__btn {
        color: var(--gray, #999);
        background: var(--white, #fff);
        border: 1px solid var(--gray, #999);
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(13, 32);
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(4, 10);
  }

  &__question {
    color: var(--black, #000);
    text-align: center;
    @include font.h4;

    @media (max-width: vars.$md) {
      @include font.h5-mobile;
    }
  }

  &__text {
    color: var(--gray, #999);
    text-align: center;
    @include font.t3;

    @media (max-width: vars.$md) {
      @include font.t3-mobile;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: fn.cmin(7, 20);

    @media (max-width: vars.$lg) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    @include font.t2;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 300px;
    padding: fn.cmin(21, 30);
    color: var(--red, #d2233c);
    text-align: center;
    border: 1px solid var(--red, #d2233c);
    border-radius: fn.cmin(5, 10);
    transition:
      color 0.3s ease-in-out background-color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;

    @media (max-width: vars.$lg) {
      min-height: unset;
    }
    @media (max-width: vars.$md) {
      @include font.h5-mobile;
    }

    &_correct {
      color: var(--white, #fff) !important;
      background: var(--green, #007117) !important;
      border-color: var(--green, #007117) !important;
    }

    &_incorrect {
      color: var(--white, #fff) !important;
      background: var(--red, #d2233c) !important;
      border-color: var(--red, #d2233c) !important;
    }

    &_correct,
    &_incorrect {
      .quiz {
        &__option-selected {
          display: flex;
        }

        &__option {
          display: none;
        }
      }
    }
  }

  &__option {
    max-width: 202px;
  }

  &__option,
  &__result {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__option-selected {
    display: none;
    flex-direction: column;
    gap: 23px;
  }

  &__answer {
    @include font.t3;
  }

  &__more {
    @include font.t2;

    display: none;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: fn.cmin(32, 63);
    padding: fn.cmin(14, 23);
    color: var(--red, #d2233c);
    text-align: center;
    border: 1px solid var(--red, #d2233c);
    border-radius: 60px;

    @media (max-width: vars.$lg) {
      width: 100%;
    }
    @media (max-width: vars.$md) {
      width: 100%;
      @include font.t2-mobile;
    }
  }
}
