@use '../../../utils/mixins' as mix;
@use '../../../utils/variables' as vars;
@use '../../../utils/functions' as fn;
@use '../../font-style' as font;

.about {
  position: relative;
  z-index: 1;
  padding-top: fn.cmin(52,102);
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;
    @media (max-width: vars.$md) {
      margin-bottom: 78px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -2;
    height: 47%;
    background: linear-gradient(180deg, #fff 0%, #fff 20%, rgba(255, 255, 255, 0%) 100%);
    content: '';
    @media (max-width: vars.$md) {
      height: 86%;
      background: linear-gradient(
        180deg,
        #fff 0%,
        #fff 50.31%,
        rgba(255, 255, 255, 81%) 72.19%,
        rgba(255, 255, 255, 37%) 85.73%,
        rgba(255, 255, 255, 0%) 100%
      );
    }
  }

  &__title {
    @include font.h4;

    margin-bottom: fn.cmin(25, 39);

    @media (max-width: vars.$md) {
      @include font.h3-mobile;
    }
  }

  &__info {
    display: flex;
    gap: fn.cmin(40, 85);

    @media (max-width: vars.$xl) {
      flex-direction: column;
      gap: 44px;
      align-items: flex-start;
      padding-top: 0;
    }

    &-title {
      @include font.t2;

      @media (max-width: vars.$md) {
        @include font.h5-mobile;
      }
    }
  }

  &__list {
    display: flex;
    gap: fn.cmin(24, 85);
    align-items: flex-start;
    padding-top: 20px;

    @media (min-width: vars.$min-xl) {
      align-self: flex-end;
    }
    @media (max-width: vars.$xl) {
      flex-wrap: wrap;
    }
    @media (max-width: vars.$md) {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-name {
      @include font.h4;

      @media (max-width: vars.$md) {
        @include font.h3-mobile;
      }
    }

    &-desc {
      max-width: 190px;
      @include font.t3;

      @media (max-width: vars.$md) {
        @include font.h6-mobile;
      }
    }
  }

  &__windmill {
    width: 46.62%;

    @media (max-width: vars.$md) {
      width: 67.6%;
    }
  }
}
