mixin electrogenerator
  section.electrogenerator
    .container
      .electrogenerator__container
        h2.electrogenerator__title.electrogenerator__title_mobile(data-aos="fade-up") Электрогенератор
        .electrogenerator__icon-block
          img.electrogenerator__icon(src="@/assets/img/promo/sdpp/electro-generator.svg", alt="")
          span.electrogenerator__tablet Турбина
        .electrogenerator__text-block(data-aos="fade-up")
          h2.electrogenerator__title.electrogenerator__title_desktop Электрогенератор
          p.electrogenerator__desc Преобразовывает механическую энергию в электрическую. Если заставить любой замкнутый проводник двигаться в магнитном поле, то через него потечет электрический ток. 
         
