mixin electrogenerator
  section.electrogenerator
    .container
      .electrogenerator__container
        .electrogenerator__icon-block
          img.electrogenerator__icon(src="@/assets/img/promo/sdpp/electro-generator.svg", alt="")
          span.electrogenerator__tablet Турбина
        .electrogenerator__text-block 
          h2.electrogenerator__title Электрогенератор
          p.electrogenerator__desc Преобразовывает механическую энергию в электрическую. Если заставить любой замкнутый проводник двигаться в магнитном поле, то через него потечет электрический ток. 
         
