include ../../../partials/promo/sticky-link

mixin scheme
  section.scheme
    .container
      .scheme__container
        .scheme__title Общая схема работы ГРЭС
        .scheme__desktop  
          .scheme__icon-big
            img(src="@/assets/img/promo/sdpp/scheme/scheme-big.svg ", alt="")
            span.scheme__tablet.scheme__tablet_1 Паровой котел
            span.scheme__tablet.scheme__tablet_2 Турбина
            span.scheme__tablet.scheme__tablet_3 Электрогенератор
            span.scheme__tablet.scheme__tablet_4 Трансформатор
            span.scheme__tablet.scheme__tablet_5 ЛЭП
        .scheme__mobile
          .swiper.scheme__slider
            ul.swiper-wrapper 
              li.swiper-slide 
                .scheme__slider-item
                  .scheme__icon 
                    img(src="@/assets/img/promo/sdpp/scheme/scheme-1.svg", alt="")
                  .scheme__name Паровой котел
              li.swiper-slide 
                .scheme__slider-item
                  .scheme__icon 
                    img(src="@/assets/img/promo/sdpp/scheme/scheme-2.svg", alt="")
                  .scheme__name Турбина
              li.swiper-slide 
                .scheme__slider-item
                  .scheme__icon 
                    img(src="@/assets/img/promo/sdpp/scheme/scheme-3.svg", alt="")
                  .scheme__name Электрогенератор
              li.swiper-slide 
                .scheme__slider-item
                  .scheme__icon 
                    img(src="@/assets/img/promo/sdpp/scheme/scheme-4.svg", alt="")
                  .scheme__name Трансформатор
              li.swiper-slide 
                .scheme__slider-item
                  .scheme__icon 
                    img(src="@/assets/img/promo/sdpp/scheme/scheme-5.svg", alt="")
                  .scheme__name Вэс
            .swiper-pagination
    +sticky-link('sdpp')
