mixin transformer
  section.transformer
    .container
      .transformer__container
        .transformer__icon
          img(src="@/assets/img/promo/sdpp/transformer.svg" alt="")
        .transformer__item.transformer__item_1
          .transformer__icon-unit
            img(src="@/assets/img/promo/sdpp/transformer-1.svg" alt="")
          p.transformer__desc Для передачи электроэнергии на большие расстояния и сокращения потерь необходимо повышать напряжение и снижать ток в линии электропередачи.
        .transformer__item.transformer__item_2
          .transformer__icon-unit
            img(src="@/assets/img/promo/sdpp/transformer-2.svg" alt="")
          p.transformer__desc Эту функцию выполняет электрический трансформатор. Оттуда электрический ток по линиям электропередач поставляется в города.
