mixin turbine
  section.turbine
    .turbine__container.container
      .turbine__block
        .turbine__item
          p.turbine__text Пар попадает на первую ступень лопаток и заставляет вращаться ротор.
        .turbine__icon-block
          img.turbine__icon(src="@/assets/img/promo/sdpp/turbine-1.svg" alt="")
      .turbine__block
        .turbine__item
          p.turbine__text Далее пар проходит последовательно 39 ступеней лопаток, где отдает свою запасенную тепловую энергию пара, чтобы максимально ее использовать и получить вращающий механический момент.
        .turbine__icon-block
          img.turbine__icon(src="@/assets/img/promo/sdpp/turbine-2.svg" alt="")
      .turbine__block
        .turbine__item
          p.turbine__text Вал турбины жестко соединен с валом электрического генератора.
        .turbine__icon-block
          img.turbine__icon(src="@/assets/img/promo/sdpp/turbine-3.svg" alt="")
      .turbine__block
        .turbine__item
          p.turbine__text Таким образом вращательная механическая энергия турбины передается на вал генератора, где она будет преобразована в электрическую энергию.
        
