@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;
@use '../../utils/functions' as fn;
@use '../../components/font-style' as font;

.sticky-link {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 32px;
  color: var(--white, #fff);
  background: var(--ligt-green, #8ed760);

  @include font.t3;

  @media (max-width: vars.$md) {
    display: none;
  }

  &_wcc {
    background: var(--ligt-blue, #4da4ff);
  }

  &__icon {
    width: 85px;
    height: 11px;
    transform: rotate(180deg);
  }
}
